################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/helloworldApp/.vs/helloworldApp/DesignTimeBuild
/helloworldApp/.vs/helloworldApp
/helloworldApp/helloworldApp/bin/Debug/netcoreapp3.1
/helloworldApp/helloworldApp/obj
